body{
	background-color:aqua;
}
img{
	width:300px;
}
img:hover{
	border: dotted 5px purple;
	width:400px;
	border-radius:30%;
}
h1{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-style: italic;
}
h1:hover{
	text-decoration: underline 2px coral;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}
li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #555555;
  color: white;
}
